:root { --table-header-mb: 20 px; }

a.navbar-brand { white-space: normal; text-align: center; word-break: break-all; }

/* Sticky footer styles
-------------------------------------------------- */
html { font-size: 14px !important; font-family: 'Roboto', sans-serif; color: #333; }

@media (min-width: 768px) {
	html { font-size: 16px; }
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

button.accept-policy { font-size: 1rem; line-height: inherit; }

/* Sticky footer styles
-------------------------------------------------- */
html { position: relative; min-height: 100%; }

body { /* Margin bottom by footer height */ margin-bottom: 60px; }
.footer { position: absolute; bottom: 0; width: 100%; white-space: nowrap; /* Set the fixed height of the footer here */ height: 60px; line-height: 60px; /* Vertically center the text there */ }

.box { width: 100%; float: left; margin-bottom: 5%; }
.item, .image, .info { width: 48%; float: left; padding: 1%; }
	.image img { margin: 0 auto; max-height: 150px; }
.subtotal { width: 98%; float: left; margin-right: 1%; text-align: right; }

.requiredField { border-left: solid 4px #0062cc; }
.requiredFieldError { border: solid 1px #dc3545; border-left: solid 4px #dc3545; }

table.sub_list thead a { padding: 0 10px 0 0; text-decoration: none; color: #007bff; }
	table.sub_list thead a:hover { text-decoration: none; color: #006add; }

/* colors */
.primary-color { color: #007bff !important; }
.secondary-color { color: #6c757d; }
.success-color { color: #28a745; }
.danger-color { color: #dc3545; }
.warning-color { color: #ffc107; }
.info-color { color: #17a2b8; }
.light-color { color: #f8f9fa; }
.dark-color { color: #353535; }
.white-color { color: #fff; }
.transparent { color: transparent !important; }
.tbl-grey-bg { background-color: #ececec; color: #666; }

/* table css */
table thead tr { font-weight: bold; }
/*table.table-records thead td ::before { text-align: left !important; }*/
table.table-records thead td .fa { float: right; margin-left: 5px; margin-top: 5px; cursor: pointer; }
/*.table-title { margin-bottom: var(--table-header-mb); }*/
.table-title { margin-bottom: 20px; }

.grid-filter-dropdown { position: absolute; display: inline-block; margin-top: 25px; right: 0; }
.dropdown-content { border-radius: 2px; display: block; position: static; right: 0; background-color: #fff; border: solid 1px #cecece; width: auto; min-width: 165px; overflow: visible; list-style: none; padding: 0 10px; box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12); }
	.dropdown-content li { color: black; padding: 5px 10px; margin: 0 -10px !important; text-decoration: none; display: block; }
.grid-filter-dropdown li:hover { background-color: #efefef; }

/* navigation */
.navigation > .toolbar_icons { margin: 0 !important; }
	.navigation > .toolbar_icons li a { min-width: 40px; text-align: center; }
	.navigation > .toolbar_icons .page-link { color: #333; }

.toolbar { background-color: #efefef; padding: 10px 0; margin-bottom: 10px; font-size: 15px !important; }

.hide { display: none; }
.position-relative { position: relative; }

.mb15 { margin-bottom: 15px; }
