@model IList<Menu>

<header>
	<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
		<div class="col">
			<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">VueJS</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
				<ul class="navbar-nav flex-grow-1">
					@foreach (var menu in Model)
					{
						<li class="nav-item">
							<a class="nav-link text-dark" href="@menu.Url?menu=@menu.Id">@menu.Heading</a>
						</li>
					}
				</ul>
			</div>
		</div>
	</nav>
</header>
