@model VueJsTutorial.Models.UserVM

@{
	ViewData["Title"] = "Home Page";
}

<div v-if="typeof result.model !== 'undefined'">
	<otable ref="otable" title="List of Software Developers" v-bind:list="result.model" v-bind:headers="result.headers" v-bind:header-filters="result.tableFilters"></otable>
</div>

@section scripts{
	<script type="text/javascript">
		var localUrl = "https://localhost:44328";

		/*
var searchInputs = document.getElementsByClassName("search-input"),
sortElements = document.getElementsByClassName("fa-filter");

Array.from(searchInputs).forEach(function (element) {
element.addEventListener("keypress", search);
});

Array.from(sortElements).forEach(function (element) {
element.addEventListener("click", click);
});

function search(event) {
//TODO: get all search parameters and generate search array
console.log("keypress: " + event.keyCode);

if (event.keyCode == 13) {
console.log(event);
}
}

function click(event) {
var clickedElement = event.target;

if (typeof clickedElement !== "undefined" && clickedElement != null) {
var column = clickedElement.attributes["data-column"].value,
searchInput = document.querySelector(".search-input[data-column='" + column + "']");

if (typeof searchInput !== "undefined" && searchInput != null) {
clickedElement.parentNode.parentNode.previousElementSibling.classList.remove("hide");
searchInput.focus();
}
}
}
*/
	</script>
	<script src="~/js/component/tableRecordComponent.js"></script>
	<script src="~/js/view/indexpage/tableRecords.js"></script>
}
