<div id="view">

        <b-datepicker placeholder="Type or select a date..."
                      icon="calendar-today"
                      editable>
        </b-datepicker>

</div>
<link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css">
@*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">*@
<script src="~/js/Views/Test/BuefyComponents.bundle.js" ></script>
