
@{

}

<div class="navigation">
	<ul class="pagination toolbar_icons">
		<li class="page-item"><a class="page-link" href="javascript:void(0);" id="toolbar_view"><i class="fa fa-search"></i></a></li>
		<li class="page-item"><a class="page-link" href="javascript:void(0);" id="toolbar_new"><i class="fa fa-plus"></i></a></li>
		<li class="page-item"><a class="page-link" href="javascript:void(0);" id="toolbar_save"><i class="fa fa-floppy-o"></i></a></li>
		<li class="page-item"><a class="page-link" href="javascript:void(0);" id="toolbar_edit"><i class="fa fa-pencil"></i></a></li>
		<li class="page-item"><a class="page-link" href="javascript:void(0);" id="toolbar_delete"><i class="fa fa-trash"></i></a></li>
		<li class="page-item"><a class="page-link" href="javascript:void(0);" id="toolbar_export"><i class="fa fa-external-link"></i></a></li>
	</ul>
</div>
